<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/auth.css">
    <link rel="shortcut icon" href="/public/icons/icon.svg" type="image/x-icon">
    <title>Login | LensBrew</title>
</head>
<body>
    <div class="icons"></div>
    <div id="login-form" class="form">
        <h2>Login</h2>
        <div class="credentials">
            <div class="block">
                <label class="label">Username</label>
                <input type="text" name="" id="username" maxlength="15" placeholder="Username">
            </div>
            <div class="block">
                <label class="label">Password</label>
                <input type="password" name="" id="password" placeholder="Password">
            </div>
        </div>
        <div id="errors"></div>
        <button id="submit">Continue</button>
        <div class="divider">
            <div class="line"></div>
            or
            <div class="line"></div>
        </div>

        <p class="bottom-link">Register</p>
    </div>
    <script src="/public/scripts/auth.js"></script>
    <script>
        function displayErr(errMessage) {
            const p = document.createElement('p');
            p.classList.add('error-msg');
            p.innerText = errMessage;
            const error_container = document.getElementById('errors');
            error_container.style.display = 'flex';
            error_container.appendChild(p);
        }

        function AreLoginFieldsNotEmpty() {
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;
            if ((username == null || username == '') ||
                (password == null || password == '')
                ) {
                displayErr('Please fill all fields in!');
                return false;
            }
            return true;
        }

        document.getElementById('submit').addEventListener('click', async (ev) => {
            ev.preventDefault();
            const error_container = document.getElementById('errors');
            error_container.innerHTML = '';
            if (!AreLoginFieldsNotEmpty()) return;

            const data = {
                username: document.getElementById('username').value,
                password: document.getElementById('password').value,
            }

            const res = await fetch('/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data)
            });
            if (res.ok) {
                const redirectUrl = findGetParameter('redirect')
                if (redirectUrl) {
                    window.location = redirectUrl;
                } else {
                    window.location = '/';
                }
            } else {
                displayErr("Invalid credentials!");
            }
        });
        document.querySelector('.bottom-link').addEventListener('click', () => {
            const redirectUrl = findGetParameter('redirect')
            if (redirectUrl) {
                window.location = `/register?redirect=${redirectUrl}`;
            } else {
                window.location = '/register';
            }
        });
        </script>
</body>
</html>