body {
    background-color: #272727;
    margin: 0;
}

body, a, p, h1, h2, h3, h4, span, textarea, label, button {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    // font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
    color: white;
}

.thread {

    // background-color: aqua;
    $gap: 25px;
    float: left;
    width: calc(50% - $gap/2);
    margin-right: $gap;
    margin-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    border: 1px solid #8B4A4A;
    background-color: #303030;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    
    & h3, h4 {
        margin: 0;
    }
    @media only screen and (max-width: 600px) {
        width: 100%;
        margin-right: 0;
    }

    & .header {
        display: flex;
        align-items: center;
        gap: 8px;
        flex-direction: row;
    }
    & .info {
        display: flex;
        align-items: center;
        // gap: 8px;
        flex-direction: row;
    }
}

.row {
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
    // margin-right: 500px;
}

.thread:nth-child(2n) {
    margin-right: 0;
}