body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.threads {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    & .thread-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        // width: 100%;
    }
}

#image-input {
    display: none;
}

.image-label-wrapper {
    border-radius: 5px;
    background-color: rgba($color: #7a3636, $alpha: 0.2);
}

#image-input-label {
    display: block;
    background-image: url('/public/icons/image-selection.svg');
    background-size: cover;
    cursor: pointer;
    width: 25px;
    height: 25px;
    margin: 2px;
}

p {
    margin: 0;
}

#create-thread {
    display: flex;
    flex-direction: column;
    width: 25%;
    // justify-content: center;
}

#post-container {
    display: flex;
    flex-direction: row;
}