body {
    background-color: #272727;
    margin: 0;
}

.board-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
p {
    margin: 0;
}
.posts {
    display: flex;
    flex-direction: column;
}