$input-label-height: 25px;

#image {
    display: none;
}

#image-icon {
    display: block;
    background-image: url('/public/icons/image-selection.svg');
    background-size: cover;
    cursor: pointer;
    width: $input-label-height;
    height: $input-label-height;
}

#reply-icon {
    background-image: url('/public/icons/reply.svg');
    background-size: cover;
    cursor: pointer;
    width: $input-label-height;
    height: $input-label-height;
    margin-left: 5px;
}

#imageForm { 
    display: flex;
    flex-direction: row;
    input {
        height: calc($input-label-height - 5px);
    }
}

#image-icon img {
    cursor: pointer;
    width: $input-label-height;
    height: $input-label-height;
}

#image_view {
    transition: filter 1s ease;
    filter: blur(0px);

    &.blur {
        filter: blur(20px);
    }
}

.posts {
    display: flex;
    flex-direction: column;
}

.post {
    border: 1px black solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    & img {
        max-height: 100px;
    }
    & img:hover {
        max-height: 500px;
    }
}